<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>
	<%= title %>
</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header id="header">
<h1>
	<%= title %>
</h1>
</header>
<article>
	<form action="/chat" method="POST">
		<table>
			<tr>
				<td>ユーザー名：</td>
				<td><input type="text" name="username" placeholder="ユーザー名" required autofocus maxlength="20"></td>
			</tr>
			<tr>
				<td></td>
				<td><button type="submit">ログイン</button></td>
			</tr>
		</table>
	</form>
</article>
<footer></footer>
</body>
</html>
