@charset "utf-8";
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-size: 14pt;
	width: 800px;
	height: 100%;
	letter-spacing: 1px;
		margin: 0 auto;
}

#header {
	background: #f0fff0;
	padding: 5px;
	margin: 10px;
}
article{
	width: 100%;
	padding: 5px;
	margin: 10px;
}
#main {
	background: #f0fff0;
	padding: 0;
	width: 70%;
	height: 500px;
	float: right;
	position: relative;
	bottom: 0;
}

#side {
	background: lightyellow;
	width: 30%;
	float: left;
}

.section {
	background: #f0fff0;
	margin-bottom: 50px;
	height: auto;
	/*margin-left: 100px;*/
}

#footer {
	background: #f0fff0;
	/*	margin: 0;*/
	bottom: 0;
	width: 800px;
	padding: 0px;
	position: absolute;
	/*	clear: both;*/
}

#footer table {
		margin: 0 auto;
}

h1, h2, h3 {
	letter-spacing: 10px;
	font-weight: bold;
}

h1 {
	color: #5a19ff;
	font-size: 1.5em;
	margin: 0;
	text-align: center;
}

h2, h3 {
	background: #96ff96;
	color: #ff0f0f;
	margin: 0px;
	padding: 5px;
	text-align: center;
	clear: both;
}

ul li {
	font-size: 1.2em;
	background: lightgray;
	margin-bottom: 20px;
	list-style: none;
}

input {
	width: 100%;
	font-size: 1.5em;

}
button{
	font-size: 1.5em;

}

p {
	text-indent: 1em;
	padding: 10px;
	text-align: justify;
}
